.page{
    /* 手机滚屏阅读的常见操作 */
    /* 占满整个页面写法 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* 超出则滚动 */
    overflow-y:auto;
    /* 滚动条样式 让滚动如丝般顺滑*/
    /* 移动端浏览器前缀都是 -webkit 
         overflow-scrolling 在试验阶段
    */
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box; /*IE盒模型*/
    z-index: 1;
}

body{
    /* /*为什么要设置变量 */
    /* 统一更改 管理 利用 皮肤更换*/
    /* 极大提高了前端css变量的管理 */
    --weui-B6-0: #222;
    --weui-BG-2: #191919;
    --weui-F6-1: rgba(255,255,255,0.5);
}
body{
    color: rgba(255,255,255,0.8);
}

.page,body{
    /*weui技术很激进 css4 变量 */
    background-color: var(--weui-B6-0);
}
.page__hd{
    padding: 40px;
}
.page__title{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.page__desc{
    margin-top: 4px;
    color: var(--weui-F6-1);
    text-align: left;
    font-size: 14px;
}
.page__bd{
    padding-bottom:20px ;
}